<!DOCTYPE html>
<html lang="en">
{% from 'bootstrap5/form.html' import render_form %}
<head>
    <meta charset="UTF-8">
    <title>To Do</title>
    <div class="container">
       <div class="row">
            <div class="col-sm-12 col-lg-12">
              <div class="card-body">
                <h1 class="card-title" align="center" >To Do List</h1>
                <h3 class="card-text" align="left">{{today}} to-do list</h3><button type="button"  class="btn btn-success">Add to List</button>
                  <div id="notice">

                      <i class="bi bi-check" ><img src="static/check.svg"></i> Great, we've created a list for you. You should save your list, so you don't forget it.
                  </div>

              </div>
            </div>
       </div>
    </div>
  <style>
    .card-body{
     background-color: #DAF7A6
    }
    body{
    background-color: #BDB76B
    }
    #notice{
    background-color: #FFFF00
    }
    .btn{
    background-color: #FFFFE0;
    float: right;

    }
    .copyright{
    position:fixed;
    left:0px;
    bottom:0px;
    height:30px;
    width:100%;
    background:#FFFFE0;
}
  </style>
</head>
<body>

<div class="form-check">
    {% for e in element: %}
        <p> <input class="form-check-input" type="checkbox" value="" id="defaultCheck1" name="{{e}}">
  <label class="form-check-label" for="defaultCheck1">
  </label>{{e}}</p>
    {% endfor %}
    <div class="container">
        {{ render_form(form) }}
    </div>
      <a href="{{ url_for('final') }}"> <button type="button"  class="btn btn-success">Add to List</button></a>


</div>

  <div class="container">
          <p class="copyright">2023 All Rights Reserved. <a href="https://github.com/Mar4eIvanova">Mariya Ivanova</a></p>
        </div>


</body>
</html>